In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.0.3'

In [6]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [13]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [17]:
df.loc[df['ocean_proximity'] == 'NEAR BAY'].describe()['median_house_value']

count      2290.000000
mean     259212.311790
std      122818.537064
min       22500.000000
25%      162500.000000
50%      233800.000000
75%      345700.000000
max      500001.000000
Name: median_house_value, dtype: float64

In [18]:
df['total_bedrooms'].describe()

count    20433.000000
mean       537.870553
std        421.385070
min          1.000000
25%        296.000000
50%        435.000000
75%        647.000000
max       6445.000000
Name: total_bedrooms, dtype: float64

In [19]:
df['total_bedrooms'].fillna(259212.311790, inplace=True)

In [20]:
df['total_bedrooms'].describe()

count     20640.000000
mean       3132.134571
std       25778.820038
min           1.000000
25%         297.000000
50%         438.000000
75%         657.000000
max      259212.311790
Name: total_bedrooms, dtype: float64

In [22]:
X = df.loc[df['ocean_proximity'] == 'ISLAND'][[
    'housing_median_age', 'total_rooms', 'total_bedrooms']]

In [25]:
XTX = np.matmul(X.T, X)

In [26]:
np.linalg.inv(XTX)

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [28]:
y = np.array([950, 1300, 800, 1000, 1300])

In [30]:
w = np.matmul(np.linalg.inv(XTX), X.T) * y

In [31]:
w

       8314      8315      8316       8317       8318
0 -7.843280 -8.491710 -1.857274  25.651437  15.664136
1 -1.575598  1.448331  1.117247  -1.032150  -1.439073
2  7.166467 -3.925527 -3.641001   1.816851   4.282439